{% extends 'distribution/main.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Хотите сказать, что {{ object.name }} {{ object.surname}} перестал быть лохом?</p>
                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                        <a href="{% url 'distribution:clients' %}" class="btn btn-warning">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}